@charset "UTF-8";
body {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#header {
}
#header h1 {
	font-family: aguafina-script;
	font-style: italic;
	font-weight: 400;
	font-size: 72px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: none;
}
#img {
	horizontal-align: center; 
	background-color: #FCF3CF;
}
#header1 {
	float: left;
	opacity: 0.75;
}
#Image1 {
	margin-left: 200px;
	align-self: center;
}
#p1 {
	opacity: 1;
	font-size: 20px;
	padding-top: 12px;
	padding-left: 94px;
}
.h1 {
}
#h1 {
}
#h1 {
}
#a1 {
	color: #000000;
	text-decoration: none;
}
#td {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}
#table1 {
	align: center;
}
#a2 {
	color: #000000;
	text-decoration: none;
}
#a3 {
	text-decoration: none;
	color: #000000;
}
.white {
}
#white {
}
.white1 {
}
.white1 {
}
#a {
    text-decoration: underline;
    color: #000000;
    text-align: center;
    font-size: x-large;
}
#a {
}
.a {
}
#a5 {
    color: #A89875;
    text-decoration: none;
}
